* {
    font-family: 'Archivo Black', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(75, 61, 61, 0.201);
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(75, 61, 61, 0.201);
    color: black;
    padding: 10px 20px;
}

.icono-colorfly {
    width: 46px;
    height: 46px;
    margin-right: 10px;
    border-radius: 24px;
}
.paleta-contenedor {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}

.tarjeta-color {
    flex: 1;
    min-width: 100px;
}

.bloque-color {
    height: 56vh;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10px;
    gap: 6px;
}

.codigo-color {
    font-size: 12px;
    font-family: monospace;
}

.boton-copiar {
    background: transparent;
    border: none;
    border-radius: 4px;
    padding: 4px 8px;
    font-size: 12px;
    cursor: pointer;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.boton-copiar:hover {
    opacity: 0.7;
}

.container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.cantidad-color {
    margin-right: 20px;
    border: none;
    border-radius: 4px;
}

.formato-color {
    border: none;
    border-radius: 4px;
}

.bloque-color:hover  {
    transition: opacity 0.3s ease;
    opacity: 0.8;
}

.boton-generar {
    display: flex;
    justify-self: center;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
}

.codigo-color {
    font-family: 'Archivo Black', sans-serif;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    margin-top: 8px;
    border-top: 1px solid rgba(75, 61, 61, 0.201);
}

.footer a {
    color: black;
    text-decoration: none;
}

.icono-github {
    width: 18px;
    height: 18px;
    margin-right: 5px;
}

/* HOVERS */

/* arreglar este hover (cuando paso el mouse por la palabra también cuenta el hover)*/
.cantidad-color:hover,
.formato-color:hover,
.boton-generar:hover {
    background-color: rgba(75, 61, 61, 0.201);
    transition: background-color 0.3s ease;
    cursor: pointer;
}
